<div class="authorization">
    <h1 class="authorization_title">Login</h1>
    <form class="authorization_form" [formGroup]="form" (ngSubmit)="login()">
      <div class="input_container">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div> 
      <div class="input_container"> 
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="input_container">
        <button mat-raised-button color="primary" type="submit">Log me in!</button>
      </div>
    </form>
  </div>
