/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Roboto", sans-serif;
}

.authorization {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.input_container {
    display: flex;
    width: 100%;
}
.input_container {
    display: flex;
    width: 100%;
}

.mat-form-field {
    display: flex;
    width: 100%;
}

.mat-form-field.halfwidth {
    margin-right: 40px;
}


.signin_link {
    text-decoration: none;
    font-weight: bold;
}

.button_wrapper {
    display: flex;
    width: 100%;
}

.button_wrapper.halfwidth {
    margin-right: 40px;
}

.header_wrapper {
  min-height: 80px;
  background-color: navy;
  max-width: 100%;
  padding: 20px;
}

.header_user {
  display: flex;
  justify-content: space-between;
}

.header_wrapper .user_name {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
} 

.mat-button {
  background-color: lightgrey;
  font-size: 18px;
  font-weight: bold;
}

.feed_holder,
.post_page {
    width: 700px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #dce1e5;
}

.feed_items_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.feed_item {
  list-style: none;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;

}

.feed_item_title {
  font-size: 24px;
  color: #0d1523;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.feed_item_author {
  font-size: 20px;
}


.feed_item_author_link {
  text-decoration: none;
  color: navy}

.feed_item_date {
  font-style: italic;
}

.feed_image_container {
    width: 500px;
    height: auto;
    padding-top: 20px;
}

.feed_item_image {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 8px #888888;
}

.post_item {
  display: flex;
  justify-content: center;
}

.feed_item_link {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 20px;
}

.confirmpassword {
  position: relative;
}

.password_error_message {
  //position: absolute;
  display: block;
  width: 120px;
  background-color: grey;
  z-index: 20;
}

.modal-dialog {
  padding: 50px;
  width: 500px;
  min-height: 280px;
  font-size: 20px;
}

.modal-title {
  margin: 0;
  font-size: 24px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.caption-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.caption-label {
  margin-right: 30px;
}

.caption-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
}

.modal-body {
  margin-bottom: 50px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: lightgrey;
  font-size: 18px;
  font-weight: bold;
}
.file-upload-button {
  margin-right: 20px;
}
